
header {
	background: rgb(173, 52, 30);
	color: #fff;
	padding: 20px;
	text-align: center;
  }

  .bulle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 2px;
  }
  .logo-medias {
	width: 40px;
	height: 40px;
  }
  
.user_card {
	min-width: 500px;
	margin-top: auto;
	margin-bottom: auto;
	background: rgba(0, 0, 0, 0.900);
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	color: white
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: white;
}

.login_btn {
	width: 100%;
	background: #2f922c !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background:  #0997d1  !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}